.footerOption2 {
  width: 100%;
  background-color: #090A18;
  margin-top: -5px;
}

.container {
  border-top: 1px solid #2D2D42;
  width: 90%;
  padding: 24px 0 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  > p {
    font-family: 'AtypText-Regular', serif;
    font-size: 12px;
    text-align: right;
    color: #9999AD;
  }

  > div {
    display: flex;
    align-items: center;

    > p {
      border-right: 1px solid #2D2D42;
      font-family: 'AtypText-Regular', serif;
      font-size: 12px;
      color: #9999AD;
      padding: 0 16px 0;

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        border: none;
      }
    }

    > div {
      display: flex;
      gap: 3px;
      color: #fff;
      font-size: 14px;
      align-items: center;
      margin-left: 16px;
    }
  }
}
@media screen and (max-width: 1050px) {
  .container {
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    gap: 20px;
    flex-direction: column;
    > p {
      text-align: left;
    }
  }
}

@media screen and (max-width: 670px) {
  .container {
    > div {
      flex-direction: column;
      align-items: start;
      gap: 8px;
      > p {
        padding: 0;
        border: none;
      }
      > div {
        margin: 0;
      }
    }
  }
}
