.info {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;

  > div {
    > p:first-of-type {
      font-size: var(--fz-title);
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #090A18;
      font-family: 'AtypDisplay-Medium', serif;
      line-height: 100%;
    }

    > p:last-of-type {
      font-family: 'AtypText-Regular', serif;
      margin-top: 16px;
      font-size: 16px;
      color: #2D2D42;
      margin-bottom: 32px;
    }
  }

  > img {
    width: 100%;
    z-index: -1;
  }
}

@media screen and (max-width: 1030px) {
  .info {
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 150px;

    > img {
      width: 80%;
      margin: 0 auto;
    }
  }
}