.btn {
  color: #fff;
  font-family: 'Atyp-Text-Semibold', serif;
  background: linear-gradient(92.37deg, #D05EEF -13.59%, #6A29FE 88.53%);
  border-radius: 16px;
  padding: 16px 32px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}